<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	<system.diagnostics>
		<sources>
			<!-- This section configures My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- Uncomment to connect the application file log. -->
					<!-- <add name="FileLog" /> -->
					<!-- Uncomment to connect the event log. -->
					<add name="EventLog"/>
					<!-- Uncomment to connect the event log. -->
					<!-- <add name="Delimited" /> -->
					<!-- Uncomment to connect the XML log. -->
					<!-- <add name="XmlWriter" /> -->
					<!-- Uncomment to connect the console log. -->
					<!-- <add name="Console" /> -->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener,
                 Microsoft.VisualBasic, Version=8.0.0.0,
                 Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" initializeData="FileLogWriter"/>
			<add name="EventLog" type="System.Diagnostics.EventLogTraceListener,
                 System, Version=2.0.0.0,
                 Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="FileLogWriter"/>
			<add name="Delimited" type="System.Diagnostics.DelimitedListTraceListener,
                 System, Version=2.0.0.0,
                 Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="c:\temp\sampleDelimitedFile.txt" traceOutputOptions="DateTime"/>
			<add name="XmlWriter" type="System.Diagnostics.XmlWriterTraceListener,
                 System, Version=2.0.0.0,
                 Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="c:\temp\sampleLogFile.xml"/>
			<add name="Console" type="System.Diagnostics.ConsoleTraceListener,
                 System, Version=2.0.0.0,
                 Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="true"/>
		</sharedListeners>
	</system.diagnostics>
</configuration>
